body {
    font-family: sans-serif;
    text-align: center;
    margin: 50px;
}
input {
    padding: 10px;
    font-size: 1em;
    width: 300px;
}
button {
    padding: 10px 20px;
    font-size: 1em;
    margin-left: 10px;
    cursor: pointer;
}
.result {
    margin-top: 20px;
    font-size: 1.2em;
    font-weight: bold;
}

label {
    font-weight: bold;
    font-size: 16px;
    display: block;
    text-align: center;
    padding: 10px;
}